<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Document</title>
</head>
<body>
    
<div class='nav-bar'>
    <a class='nav-a' href='/'>Home</a>
    <a class='nav-a'href='/about'> About</a>
    <a class='nav-a' href='/works'> Works</a>
    <a class='nav-a' href='/photo_gallery'> Photo Gallery</a>
</div>

<section>
    <div>
        <h1>Who is Alex Honnold?</h1>
        <img src='https://drive.google.com/uc?export=download&id=1BGmpDwfrpapnim2xsDKihWO6j8hgCorR'>
        <aside class='aside-text'> Alexander Honnold (born August 17, 1985) is an American rock climber best known for his free solo ascents of big walls
            Honnold is the only person to free solo El Capitan in Yosemite National Park and holds the fastest ascent of the Yosemite triple crown, an 18-hour, 50-minute link-up of Mount Watkins, The Nose, and the Regular Northwest Face of Half Dome.[4] Honnold says he likes tall, long routes and that he tries to do them quickly.[1] He is the author (with David Roberts) of the memoir Alone on the Wall (2017) and the subject of the 2018 biographical documentary Free Solo, which won a BAFTA and an Academy Award.
            Honnold says he is inspired by such climbers as Peter Croft, John Bachar and Tommy Caldwell, and even more by beautiful sites like El Capitan in Yosemite National Park.
        </aside>
    </div>
</section>

<section>
    <div>
        <h2>A bit of Climbing history...</h2>
    </div>
</section>


<script href='app.js'></script>
</body>
</html>